body {
  margin: 0;
  padding: 0;
  background-color: pink;
}

.navbarpage {
  background-color: azure;
  font-size: 25px;
  padding: 10px;
}
.div-navbarpage {
  display: flex;
  justify-content: space-between;
}

.div-navbarpage p {
  color: rgb(255, 208, 0);
}

.div-navbarpage p span {
  font-style: italic;
  color: blueviolet;
}
.div-navbarpage ul {
  display: flex;
  gap: 60px;
  margin-right: 20px;
}

.div-navbarpage ul li {
  list-style: none;
}
.div-navbarpage ul li a {
  color: pink;
  text-decoration: none;
}
